{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Sign Up</title>
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}
{% block styles %}
  <style>
    body {
      background-color: #c8f2f8;
      justify-content: center;
      align-items: center;
    }
    .form {
      width: 300px;
      padding: 30px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      animation: fade-in 1s ease-in-out;
    }
    .imgcontent{
      margin-left: auto;
      margin-right: auto;
    }
    @keyframes fade-in {
      from {
        transform: translateY(-2rem);
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    body{
      background: #e8fafc;
    }
    img{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% endblock %}
{% block content %}
<section style="height: 7rem;"></section>
<section>
  <div class="container-fluid mt-3">
    <div class="row">
      
      <div class="col-sm-1 d-none d-md-block">
        
        
        <div class="offcanvas offcanvas-start" tabindex="-1" id="my-drawer">
          <div class="offcanvas-header">
            <a class="offcanvas-title h5" href="{% url 'coursedetail' courseid=coursedata.documentary.id %}">{{ coursedata.documentary.title }}</a>
            <button title="Toggle title" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body" style="">
            <ul class="nav nav-fill">
              <div class="d-flex align-items-start">
                <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  {% for section in coursedata.sections %}
                  <a class="nav-link active" href="{% url 'coursedetail' courseid=coursedata.documentary.id sectionid=section.id %}" id="myButton{{ coursedata.documentary.id }}">{{ section.title }}</a>

                  {% endfor %}
                </div>
              </div>
            </ul>
          </div>
        </div>

        
      </div>
      <button title="toogle" class="btn btn-primary btn-sm position-fixed" style="width: fit-content;z-index: 10;" data-bs-toggle="offcanvas" data-bs-target="#my-drawer"><span class="navbar-toggler-icon"></span> Các chương</button>
      <div class="col-md-2 d-flex flex-column mx-auto" style="width:max-content;">
        {%if currentsectiondata.cursection is not None %}
          <h3 class="text-dark fw-bold text-center">{{ currentsectiondata.cursection.title}}</h3>
            <div class="d-flex">
              {% if currentsectiondata.cursection.videolecture %}
              <video controls class="border mx-auto m-3" style="width: fit-content;height: fit-content;max-width: 1000px;">
               
               
                <source src="{{ currentsectiondata.cursection.videolecture.url }}" type="video/mp4">
                <source src="{{ currentsectiondata.cursection.videolecture.url }}" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              {% endif %} 
            </div>
           <!-- Render the HTML content using the safe filter -->
            {% if currentsectiondata.sectorcontent is not None %}
         
          <div class="container-fluid ">
            <br>
            <div class="border border-2 p-5 bg-light d-flex flex-column" style="z-index: -1;">
              {{ currentsectiondata.sectorcontent |safe}}
            </div>
            
            
            
          </div>
          
          {% endif %}
        {% else %}
        <table class="table table-responsive-md table-hover border align-self-center " style="width: fit-content;">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td><img src="{{ coursedata.documentary.thumbnail.url }}" style="width:32rem;height:20rem;"></td>
              <td>
                <table style="width:25rem;">
                  <tbody>
                    <tr>
                      <td>
                        <div class="mb-2"><h3 >{{coursedata.documentary.title}}</h3></div>
                        
                      </td>
                    <tr>
                        <td>
                          <div class="bg-light border p-2 mt-3">
                            <b>Số bài học: </b><span class="badge bg-secondary"><p class="fs-6">{{coursedata.sections | length}}</p></span>
                            
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="bg-light border p-2 mt-3 d-flex">
                            <b>Mức độ: </b>
                            <div class="ms-3" style="float:right">
                              {% if coursedata.documentary.skill_level == "beginner" %}
                              <span class="badge bg-success"><p class="my-auto fs-6">Người mới</p></span>{% endif %}
                              {% if coursedata.documentary.skill_level == "intermediate" %} 
                              <span class="badge bg-primary"><p class="my-auto fs-6">Trung cấp</p></span>{% endif %}
                              {% if coursedata.documentary.skill_level == "advanced" %} 
                              <span class="badge bg-info"><p class="my-auto fs-6">Nâng cao</p></span>{% endif %}
                            
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% if coursedata.usertodocumentary.userdocumentary is not None %}
                    <tr>
                      <tr>
                        <td>
                          <div class="bg-light border p-2 mt-3">
                            <b>Mức độ hoàn thành: {{coursedata.usertodocumentary.userdocumentary.perfinished}}%</b>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{coursedata.usertodocumentary.userdocumentary.perfinished}}%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          
                        </td>
                      </tr>
                    {% else %}
                    <tr>
                      <tr>
                        <td >
                          <form id="signincourse" method="POST">
                            {% csrf_token %}
                            <div class="bg-light border p-2 mt-3">
                                <p class="disabled fw-lighter">Chưa sở hữu khóa học, đăng ký ngay?</p>
                                <div class="text-black">
                                  <button id="signbtn" type="submit" class="btn btn-info"> Đăng ký</button>
                                  <label id="success" class=""></label>
                                </div>
                                
                                
                            </div>
                        </form>
                          
                          
                        </td>
                      </tr>
                      
                    {% endif %}
                  </tbody>
                </table>
                </td>
                {% if documentary.videointro %}
                    <td >
                      <video controls class="border mx-auto m-3" style="width: inherit;height: fit-content;max-width: 500px;">
           
           
                        <source src="{{ coursedata.documentary.videointro.url }}" type="video/mp4">
                        <source src="{{ currentsectiondata.cursection.videointro.url }}" type="video/ogg">
                        Your browser does not support the video tag.
                      </video>
                    </td>
                    {% endif %}
            </tr>
          </tbody>
        </table>
        {% if coursedata.documentary.summary is not None %}
          <div class="container bg-light border p-3">
            {{coursedata.documentary.summary}}
          </div>
            
        {% endif %}
        {% endif %}
        
      </div>
    </div>
    <br class="border border-3">
    <div class="container-fluid m-2 ms-5 bg-secondary ">
     
    </div>
  </div>
  </div>
</section>
<section>
  {% if coursedata.usertodocumentary.sectionquizz %}
            <div class="text-center mt-3 bg-light border border-1 p-3">
              <h5>Nắm vững được kiến thức? Thực hiện kiểm tra ngay!</h5>
              <!-- Button to trigger the modal -->
              <button type="button" class="btn btn-success btn-md"  data-bs-toggle="modal" data-bs-target="#myModal">Kiểm tra</button>
            </div>
           <!-- The Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 100rem;height: 50rem;">
                  <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{currentsectiondata.sectionquizz.description}} - Kiểm tra</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <!-- Modal Body (Your Layout/Component Goes Here) -->
                      <div class="modal-body px-5" style="">
                          <!-- Your layout or component content goes here -->
                          <div class="card my-2">
                            <div class="card-header">
                              
                              <div class="d-flex flex-column ">
                                
                                <table class="mb-3 table-bordered" >
                                  <thead>
                                        <tr>
                                          <th scope="col">Thông tin bài kiểm tra</th>
                                          <th scope="col"></th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="">
                                      <th class="px-1" scope="row">Số câu: </th>
                                      <td class="px-2">{{ currentsectiondata.quizinfo.questions |length}}</td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Điểm mỗi câu: </th>
                                      <td class="px-2">{{ currentsectiondata.quizinfo.questionscore }}</td>

                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Thời gian: </th>
                                      <td class="px-2">15 phút</td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Hình thức bài kiểm tra: </th>
                                      <td class="px-2">Câu đố</td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Số lần kiểm tra: </th>
                                      <td class="px-2">
                                        {{currentsectiondata.sectionquizz.listuserquiz|length}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Số lần tối đa: </th>
                                      <td class="ps-2">{{coursedata.usertodocumentary.sectionquizz.nrepeat}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="d-flex flex-column">
                                  <p>Lịch sử kiểm tra</p>
                                  <div class="overflow-auto" style="width: inherit;height: inherit;" >
                                    <table class="table-bordered">
                                      <tbody>
                                        {% for uq in currentsectiondata.sectionquizz.listuserquiz %}
                                        <tr>
                                          <td>
                                            Ngày:{{uq.startdate|date:"Y-m-d H:i:s"}}
                                          </td>
                                          <td>
                                            Điểm: {{uq.quizscore}}/{{currentsectiondata.quizinfo.questions|length}}
                                          </td>
                                        <tr>
                                        {% endfor %}
                                      </tbody>
                                      <table>
                                    <div>
                                </div>
                              </div>
                              {% if coursedata.usertodocumentary.userDocumentsection %}
                              {% if currentsectiondata.sectionquizz.runningquizz %}
                              <div class="d-flex flex-column">
                                {% if coursedata.usertodocumentary.sectionquizz %}
                                <p>Bài kiểm tra đang diễn ra. Bạn có muốn tham gia?</p>
                                <a class="btn btn-secondary" href="{% url 'assigningtest' courseid=coursedata.documentary.id sectionid=currentsectiondata.cursection.id testid=coursedata.usertodocumentary.sectionquizz.id userdocumentsectionid=coursedata.usertodocumentary.userDocumentsection.id %}"><b>Tham gia</b></a>
                               
                                {% endif %}
                               
                              </div>
                              
                              
                              {% else %}
                              {% if coursedata.usertodocumentary.sectionquizz %}
                              <div class="d-flex flex-column">
                                <p>Khi bạn nhấn vào nút 'Bắt đầu', bạn sẽ được chuyển đến một trang mới để thực hiện bài kiểm tra. Thời gian kiểm tra sẽ bắt đầu và không dừng lại cho đến khi hoàn thành. Bạn có muốn bắt đầu kiểm tra không?</p>
                                <a class="btn btn-success" href="{% url 'assigningtest' courseid=coursedata.documentary.id sectionid=currentsectiondata.cursection.id testid=coursedata.usertodocumentary.sectionquizz.id userdocumentsectionid=coursedata.usertodocumentary.userDocumentsection.id %}"><b>Bắt đầu</b></a>
                               {% endif %}
                              </div>
                              {% endif %}
                              {% else %}
                              <div class="d-flex flex-column">
                                <p>Vui lòng đăng nhập để kiểm tra</p>
                                <a class="btn btn-success disabled" ><b>Bắt đầu</b></a>
                               
                              </div>
                              {% endif %}
                              
                              
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
  {% else %}
  {% endif %}
</section>
{% endblock %}
{% block javascripts %}
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var idtmp = {{coursedata.documentary.id}};
    console.log(idtmp);
    $(document).ready(function() {
      $('#signincourse').submit(function(e) {
          e.preventDefault();
          
          $('#success').html('');

          $.ajax({
              type: 'POST',
              url: "{% url 'ajax_signincourse' documentaryid=coursedata.documentary.id %}",
              data: {
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(data) {
                  if (data == "") {
                      $('#success').html("Lỗi đăng ký khóa học");
                  }
                  else {
                      $('#success').html("Đăng ký khóa học thành công, tải lại trang...");
                      setTimeout(function() {
                          location.reload();
                      }, 1500);
                  }
              },
              error: function() {
                  $('#success').addClass('text-danger').html("Lỗi đăng ký khóa học");
              }
          });
      });
  });
  </script>

{% endblock javascripts %}
