{% extends 'base.html' %}
{% load static %}
{% block title %}
  {% if currentsectiondata.cursection %}
  <title>{{currentsectiondata.cursection.title}}</title>
  {% else %}
  <title>{{coursedata.documentary.title}}</title>
{% endif %}

{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <style>
      @media (max-width: 700px) {
        .my-drawer {
            display: block !important; /* Override default display property */
        }
    }
    body {
      background-color: #c8f2f8;
      justify-content: center;
      align-items: center;
    }
    .form {
      width: 300px;
      padding: 30px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      animation: fade-in 1s ease-in-out;
    }
    .imgcontent{
      margin-left: auto;
      margin-right: auto;
    }
    @keyframes fade-in {
      from {
        transform: translateY(-2rem);
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    body{
      background: #e8fafc;
    }
    img{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0%;
    }
    .video-js{
      max-width: 1000px;
      height:500px;
    }
    /* Style for fullscreen mode */
    .vjs-fullscreen .video-js {
      width: 100% !important; /* Override width in fullscreen */
      height: 100% !important; /* Override height in fullscreen */
      
    }
  </style>
{% endblock %}
{% block content %}

<section style="height: 7rem;"></section>

<section>
  <div class="offcanvas offcanvas-start my-drawer" id="my-drawer" tabindex="-1" data-bs-display="auto">
    <div class="offcanvas-header">
      <a class="offcanvas-title h5" href="{% url 'coursedetail' courseid=coursedata.documentary.id %}">{{ coursedata.documentary.title }}</a>
      <button title="Toggle title" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" style="">
      <ul class="nav nav-fill">
        <div class="d-flex align-items-start">
          <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for section in coursedata.sections %}
            <a class="nav-link active" href="{% url 'coursedetail' courseid=coursedata.documentary.id sectionid=section.id %}" id="myButton{{ coursedata.documentary.id }}">{{ section.title }}</a>

            {% endfor %}
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>
<button title="toogle" class="btn btn-primary btn-sm position-fixed" style="width: fit-content;z-index: 10;" data-bs-toggle="offcanvas" data-bs-target="#my-drawer"><span class="navbar-toggler-icon" data-bs-display="push"></span> Các chương</button>
<section>
  <div class="container-fluid mt-3">
    <div class="row">

      <div class="col-md-2 d-flex flex-column mx-auto" style="width:max-content;">
        {%if currentsectiondata.cursection is not None %}
          <h3 class="text-dark fw-bold text-center">{{ currentsectiondata.cursection.title}}</h3>
            <div class="d-flex justify-content-center">
              {% if currentsectiondata.cursection.videolecture %}
              <video id="my-video" class="video-js" controls data-setup="{}">
                <source src="{{ currentsectiondata.cursection.videolecture.url }}" type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                        >supports HTML5 video</a
                    >
                </p>
            </video>
              {% endif %} 
            </div>
           <!-- Render the HTML content using the safe filter -->
            {% if currentsectiondata.sectorcontent is not None %}
         
          <div class="container-fluid ">
            <br>
            <div class="border border-2 p-5 bg-light d-flex flex-column" style="z-index: -1;">
              {{ currentsectiondata.sectorcontent |safe}}
            </div>
            
            
            
          </div>
          
          {% endif %}
        {% else %}
        <section>
          <div class="row mx-auto justify-content-center" style="box-shadow: 0px 0px 2px;padding: 10px;min-width: 314px;height: fit-content;">
            <div class="d-flex border my-auto" style="height: inherit;min-width: 300px;padding-top: 5px;padding-bottom: 5px;max-width: 600px;">
              <img style="width: 100%;height: inherit;border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;" src="{{ coursedata.documentary.thumbnail.url }}" /></div>
            <div class="border d-flex flex-column position-relative" style="min-height: 190px;max-width: fit-content;">
                <h1 class="position-relative h2 text-center" style="font-weight: bold;padding: 5px;margin: 5px;">{{coursedata.documentary.title}}</h1>
                <div class="my-auto justify-content-between d-flex flex-column" style="padding: 10px;">
                    <div class="position-relative border" style="font-weight: bold;border-width: 1px;padding: 10px;"><label class="form-label my-auto" style="padding: 3px;">Số bài học:</label><label class="form-label my-auto" style="padding: 3px;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;background: var(--bs-gray);padding-left: 7px;padding-right: 7px;color: var(--bs-gray-200);">{{coursedata.sections | length}}</label></div>
                    <div class="position-relative border" style="font-weight: bold;border-width: 1px;padding: 10px;"><label class="form-label my-auto" style="padding: 3px;">Mức độ: </label>
                      {% if coursedata.documentary.skill_level == "beginner" %} 
                      <label class="form-label my-auto text-white small bg-success" style="padding: 3px;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;padding-left: 7px;padding-right: 7px;color: var(--bs-black);">
                        Cơ bản
                      {% endif %}
                      {% if coursedata.documentary.skill_level == "intermediate" %} 
                      <label class="form-label my-auto text-white small bg-info" style="padding: 3px;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;padding-left: 7px;padding-right: 7px;color: var(--bs-black);">
                        Trung cấp
                      {% endif %}
                      {% if coursedata.documentary.skill_level == "advanced" %} 
                      <label class="form-label my-auto text-white small bg-warning" style="padding: 3px;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;padding-left: 7px;padding-right: 7px;color: var(--bs-black);">
                        Nâng cao
                      {% endif %}
                      </label>
                    </div>
                    {% if coursedata.usertodocumentary.userdocumentary is not None %}
                    <div class="position-relative border" style="font-weight: bold;border-width: 1px;padding: 10px;padding-top: 5px;padding-bottom: 5px;"><label class="form-label my-auto" style="padding: 3px;">Mức độ hoàn thành: {{coursedata.usertodocumentary.userdocumentary.perfinished}}%</label>
                      <div class="progress progress-bar-animated">
                          <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{coursedata.usertodocumentary.userdocumentary.perfinished}}%;;"></div>
                      </div>
                    </div>
                    {% else %}
                    <form id="signincourse" method="POST">
                    <div class="border d-flex flex-column" style="font-weight: bold;border-width: 1px;padding: 10px;padding-top: 5px;padding-bottom: 5px;"><small class="form-text">Chưa sở hữu khóa học, đăng ký ngay.</small>
                      
                        {% csrf_token %}
                      <button id="signbtn" type="submit" class="btn btn-primary" style="width: fit-content;">
                        Đăng ký
                      </button>
                      <small id="success" class="form-text text-black"></small>
                      </form>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
          </div>
        </section>
        {% if coursedata.documentary.summary is not None %}
          <div class="container bg-light border p-3">
            {{coursedata.documentary.summary}}
          </div>
            
        {% endif %}
        {% endif %}
        
      </div>
    </div>
    <br class="border border-3">
    <div class="container-fluid m-2 ms-5 bg-secondary ">
     
    </div>
  </div>
  </div>
</section>
<section>
  {% if coursedata.usertodocumentary.sectionquizz %}
            <div class="text-center mt-3 bg-light border border-1 p-3">
              <h5>Nắm vững được kiến thức? Thực hiện kiểm tra ngay!</h5>
              <!-- Button to trigger the modal -->
              <button type="button" class="btn btn-success btn-md"  data-bs-toggle="modal" data-bs-target="#myModal">Kiểm tra</button>
            </div>
           <!-- The Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 100rem;height: 50rem;">
                  <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{currentsectiondata.sectionquizz.description}} - Kiểm tra</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <!-- Modal Body (Your Layout/Component Goes Here) -->
                      <div class="modal-body px-5" style="">
                          <!-- Your layout or component content goes here -->
                          <div class="card my-2">
                            <div class="card-header">
                              
                              <div class="d-flex flex-column ">
                                
                                <table class="mb-3 table-bordered" >
                                  <thead>
                                        <tr>
                                          <th scope="col">Thông tin bài kiểm tra</th>
                                          <th scope="col"></th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="">
                                      <th class="px-1" scope="row">Số câu: </th>
                                      <td class="px-2">{{ currentsectiondata.quizinfo.questions |length}}</td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Điểm mỗi câu: </th>
                                      <td class="px-2">{{ currentsectiondata.quizinfo.questionscore }}</td>

                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Thời gian: </th>
                                      <td class="px-2">15 phút</td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Hình thức bài kiểm tra: </th>
                                      <td class="px-2">Câu đố</td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Số lần kiểm tra: </th>
                                      <td class="px-2">
                                        {{currentsectiondata.sectionquizz.listuserquiz|length}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <th class="px-1" scope="row">Số lần tối đa: </th>
                                      <td class="ps-2">{{coursedata.usertodocumentary.sectionquizz.nrepeat}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="d-flex flex-column">
                                  <p>Lịch sử kiểm tra</p>
                                  <div class="overflow-auto" style="width: inherit;height: inherit;" >
                                    <table class="table-bordered">
                                      <tbody>
                                        {% for uq in currentsectiondata.sectionquizz.listuserquiz %}
                                        <tr>
                                          <td>
                                            Ngày:{{uq.testdate|date:"Y-m-d H:i:s"}}
                                          </td>
                                          <td>
                                            Điểm: {{uq.quizscore}}/{{currentsectiondata.quizinfo.questions|length}}
                                          </td>
                                        <tr>
                                        {% endfor %}
                                      </tbody>
                                      <table>
                                    <div>
                                </div>
                              </div>
                              {% if coursedata.usertodocumentary.userDocumentsection %}
                              {% if currentsectiondata.sectionquizz.runningquizz %}
                              <div class="d-flex flex-column">
                                {% if coursedata.usertodocumentary.sectionquizz %}
                                <p>Bài kiểm tra đang diễn ra. Bạn có muốn tham gia?</p>
                                <a class="btn btn-secondary" href="{% url 'assigningtest' courseid=coursedata.documentary.id sectionid=currentsectiondata.cursection.id testid=coursedata.usertodocumentary.sectionquizz.id userdocumentsectionid=coursedata.usertodocumentary.userDocumentsection.id %}"><b>Tham gia</b></a>
                               
                                {% endif %}
                               
                              </div>
                              
                              
                              {% else %}
                              {% if coursedata.usertodocumentary.sectionquizz %}
                              <div class="d-flex flex-column">
                                <p>Khi bạn nhấn vào nút 'Bắt đầu', bạn sẽ được chuyển đến một trang mới để thực hiện bài kiểm tra. Thời gian kiểm tra sẽ bắt đầu và không dừng lại cho đến khi hoàn thành. Bạn có muốn bắt đầu kiểm tra không?</p>
                                <a class="btn btn-success" href="{% url 'assigningtest' courseid=coursedata.documentary.id sectionid=currentsectiondata.cursection.id testid=coursedata.usertodocumentary.sectionquizz.id userdocumentsectionid=coursedata.usertodocumentary.userDocumentsection.id %}"><b>Bắt đầu</b></a>
                               {% endif %}
                              </div>
                              {% endif %}
                              {% else %}
                              <div class="d-flex flex-column">
                                <p>Vui lòng đăng nhập để kiểm tra</p>
                                <a class="btn btn-success disabled" ><b>Bắt đầu</b></a>
                               
                              </div>
                              {% endif %}
                              
                              
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
  {% else %}
  {% endif %}
</section>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var idtmp = {{coursedata.documentary.id}};
    console.log(idtmp);
    $(document).ready(function() {
      $('#signincourse').submit(function(e) {
          e.preventDefault();
          
          $('#success').html('');

          $.ajax({
              type: 'POST',
              url: "{% url 'ajax_signincourse' documentaryid=coursedata.documentary.id %}",
              data: {
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(data) {
                  if (data == "") {
                      $('#success').html("Lỗi đăng ký khóa học");
                  }
                  else {
                      $('#success').html("Đăng ký khóa học thành công, tải lại trang...");
                      setTimeout(function() {
                          location.reload();
                      }, 1500);
                  }
              },
              error: function() {
                  $('#success').addClass('text-danger').html("Lỗi đăng ký khóa học");
              }
          });
      });
  });
  </script>

{% endblock javascripts %}
