{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Sign Up</title>
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block styles %}

  <style>

    body {
      background-color: #c8f2f8;
      justify-content: center;
      align-items: center;
    }
    .form {
      width: 350px;
      padding: 30px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      animation: fade-in 1s ease-in-out;
    }
    @keyframes fade-in {
      from {
        transform: translateY(-2rem);
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .form-control{
      margin-bottom: 20px;
    }
  </style>
{% endblock %}
{% block content %}
<section style="height: 10rem;">
</section>
<section>
  <h1 class="text-center">Chào mừng trở lại!</h1>
  <p class="text-muted text-center mb-3">Hãy cùng tiếp tục cuộc hành trình?</p>
    <div class="form mx-auto">
      
      <h1 class="text-center mb-5">ĐĂNG NHẬP</h1>
      <form id="login" method="POST">
        {%  csrf_token %}
      <div class="form-floating mb-1">
        <input placeholder="" class="form-control fs-5" type="text" name="username" id="username">
        <label for="username">Tên đăng nhập</label>
      </div>
      <div class="form-floating mb-3">
        <input placeholder=""  class="form-control fs-5" type="password" name="password" id="password">
        <label for="password" for="password">Mật khẩu</label>
      </div>
      <span id="success" class=" mb-3 text-danger" style=""></span>
      <div class="align-content-end d-flex flex-column">
        <input class="btn btn-primary" type="submit" name="submit" value="Đăng nhập">
      </div>
    </form>
  </div>
</section>
    <br><br><br>
{% endblock %}
{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    
    $(document).on('submit', '#login', function (e) {
      e.preventDefault();
      $('#success').html('')
      $.ajax({
          type: 'POST',
          url: "{% url 'login' %}",
          data: {
            username: $('#username').val(),
            password: $('#password').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
          },
          success: function (data) {
            if(data!="") {
              $('#success').html(data)
            }
            else{
              if (window.history.length > 1 && !document.referrer.includes("signup"))
              {
                window.history.back();
              }
              else{
                window.location.href = "/"; // Redirect to index.html upon success
              }
              }
              
          }
      })
  })
  </script>
{% endblock %}

